<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products | async">
    <div class="card h-100">
      <a href="#">
        <img class="card-img-top" src="http://placehold.it/700x400" alt="">
      </a>
      <div class="card-body">
        <h4 class="card-title">
          <a routerLink="{{'../' + product.id}}">{{product.name}}</a>
        </h4>
        <h5>$ {{product.price}}</h5>
        <p class="card-text">描述：test</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-default" (click)="addToShoppingCart(product)">加入購物車</button>
      </div>
    </div>
  </div>
</div>
