<masonry class="row">
  <masonry-brick class="brick" *ngFor="let product of products | async">
    <div class="card h-100">
      <img class="card-img-top img-fluid" src="{{product.img}}" alt="">
      <div class="card-body">
        <h4 class="card-title">
          <a routerLink="{{'../' + product.id}}">{{product.name}}</a>
        </h4>
        <h5>$ {{product.price}}</h5>
      </div>
      <div class="card-footer">
        <button role="link" class="btn btn-default" (click)="addToShoppingCart(product)">加入購物車</button>
      </div>
    </div>
  </masonry-brick>
</masonry>
