<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Please sign in</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" role="alert" *ngIf="isLoginFail">
          登入失敗, 可用的帳號有 :
        </div>
        <form accept-charset="UTF-8" role="form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <input class="form-control" placeholder="E-mail" name="email" type="text" [(ngModel)]="model.email">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Password" name="password" type="password" value="" [(ngModel)]="model.password">
            </div>
            <div class="checkbox">
              <label>
                <input name="remember" type="checkbox" value="Remember Me"> Remember Me
              </label>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="alert alert-info" role="alert">
      可用的帳號有 :
      <ul>
        <li>bob@mail.com.com (user)</li>
        <li>peter@mail.com (admin)</li>
      </ul>
      密碼都為 : 0000
    </div>
  </div>

</div>
